@if (ViewBag.Message != null)
{
    <div class="alert-success p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<h2>All users</h2>


@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>



@foreach (var u in ViewBag.Users)
{
    <div class="card p-3">
        <div class="d-flex flex-row gap-2">
            <a asp-controller="Profiles" asp-action="Show" asp-route-id="@u.Id">
                <img src="@u.Profile.ProfileImage" alt="profile image" class="rounded-circle"
                     style="width:50px; height:50px; " />
            </a>
            <div style="height: 50px; display: flex; align-items: center;"><b>@u.UserName</b></div>
            <div style="margin-left:auto;">

                    <div class="dropdown ">
                        <button class="btn rounded-circle dropdown" type="button" id="dropdownPostButton"
                                data-bs-toggle="dropdown" aria-expanded="false">

                            <b>...</b>
                        </button>


                        <ul class="dropdown-menu  flex-column gap-1 p-1" style="min-width: max-content;"
                            aria-labelledby="dropdownPostButton">

                        @if (ViewBag.Follows.Contains(u.Id))
                        {
                            <li>
                                <button class="btn btn-outline-primary"  disabled type="submit">
                                    Following
                                </button>
                            </li>
                        }
                        else if(ViewBag.Sent.Contains(u.Id))
                        {
                            <li>
                                <button class="btn btn-outline-dark" disabled type="submit">
                                    Request sent
                                </button>
                            </li>
                        }
                        else
                        {
                            <li>

                                <a class="btn btn-outline-primary"  
                                    asp-action="Follow" asp-controller="Follows" asp-route-id="@u.Id">
                                    Follow
                                </a>
                            </li>
                        }
                        @if (ViewBag.EsteAdmin == true)
                        {
                            <li>

                                    <a asp-controller="Follows" asp-action="Delete" asp-route-id="@u.Id" class="btn btn-outline-danger" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
                                            <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z" />
                                        </svg> Remove
                                    </a>
                            </li  >              
                        }

                        </ul>
                    </div>



            </div>
        </div>
    </div>
    <br />
    <br />
}