@if (ViewBag.Message != null)
{
    <div class="alert-success p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<h2>Friends</h2>


@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

@if (ViewBag.Number == 0 && ViewBag.Search == "" )
{
    <div class="alert-success p-3 rounded-3 text-center mb-5">
        you have no friends :') 
    </div>
}

@foreach (var u in ViewBag.Friends)
{
    <div class="col-4 mb-4">
 
        <div class="d-flex flex-row gap-2">
                <a asp-controller="Profiles" asp-action="Show" asp-route-id="@u.Id">
                    <img src="@u.Profile.ProfileImage" alt="profile image" class="rounded-circle"
                         style="width:50px; height:50px; " />
                </a>
            <div style="height: 50px; display: flex; align-items: center;">
               <b> <a asp-controller="Profiles" asp-action="Show" asp-route-id="@u.Id"> @u.UserName </a> </b>
            </div>
        </div>


        <br />

    </div>

    <br />
    <br />
}



<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (ViewBag.currentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@($"{ViewBag.PaginationBaseUrl}=1")" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                if (i == ViewBag.currentPage)
                {
                    <li class="page-item active">
                        <span class="page-link">@i</span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@($"{ViewBag.PaginationBaseUrl}={i}")">@i</a>
                    </li>
                }
            }

            @if (ViewBag.currentPage < ViewBag.lastPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@($"{ViewBag.PaginationBaseUrl}={ViewBag.lastPage}")" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
