@if (ViewBag.Message != null)
{
    <div class="alert-success p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<h2>Follow Requests</h2>


@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

@if (ViewBag.Number == 0 && ViewBag.Search == "")
{
    <div>
        you have no follow requests 
    </div>
}

@foreach (var u in ViewBag.Requests)
{

    <br />


    <div class="card p-3">
        <div class="d-flex flex-row gap-2">
            <a asp-controller="Profiles" asp-action="Show" asp-route-id="@u.Id">
                <img src="@u.Profile.ProfileImage" alt="profile image" class="rounded-circle"
                     style="width:50px; height:50px; " />
            </a>
            <div style="height: 50px; display: flex; align-items: center;"><b>@u.UserName</b></div>
            <div style="margin-left:auto;">

                    <div class="dropdown ">
                        <button class="btn rounded-circle dropdown" type="button" id="dropdownPostButton"
                                data-bs-toggle="dropdown" aria-expanded="false">

                            <b>...</b>
                        </button>


                        <ul class="dropdown-menu  flex-column gap-1 p-1" style="min-width: max-content;"
                            aria-labelledby="dropdownPostButton">
                            <li>
                                <div class="d-flex flex-row justify-content-between">

                                    <a class="btn btn-outline-success" asp-controller="Follows" asp-action="Accept" asp-route-id="@u.Id">Accept</a>

                                </div>
                            </li>

                            <li>
                                <div class="d-flex flex-row justify-content-between">

                                    <a class="btn btn-outline-danger" asp-controller="Follows" asp-action="Reject" asp-route-id="@u.Id">Reject</a>

                                </div>
                            </li>

                        </ul>
                    </div>



            </div>
        </div>
    </div>
    <br />
}


