@model IEnumerable<ProiectASP.Models.Post>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<div class="d-flex flex-column gap-2">
    <div class="d-flex justify-content-start mb-4">
        <a asp-controller="Posts" asp-action="New" asp-route-id="@UserManager.GetUserId(User)" class="btn btn-primary">
            Create Post
        </a>
    </div>

    @if (ViewBag.Message != null)
    {
        <div class="p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
            @ViewBag.Message
        </div>
    }

    @foreach (var post in ViewBag.Posts)
    {
        <div class="card p-3 mb-4">
            <div class="d-flex flex-row gap-2">
                <img src="@post.User.Profile.ProfileImage" alt="profile image" class="rounded-circle"
                     style="width:50px; height:50px;" />
                <div class="d-flex align-items-center"><b>@post.User.UserName</b></div>
                <div style="margin-left:auto;">
                    @if (@post.UserId == ViewBag.UserId || ViewBag.EsteAdmin == true)
                    {
                        <div class="dropdown">
                            <button class="btn rounded-circle dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <b>...</b>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownPostButton">
                                <li><a class="dropdown-item" asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id">Edit</a></li>
                                <li>
                                    <form method="post" asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id">
                                        <button class="btn btn-outline-danger" type="submit">Delete</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
            <br />
            <div class="card-body">
                <p>@post.Content</p>
                @if (!string.IsNullOrEmpty(post.Image))
                {
                    <img src="@post.Image" alt="post image" class="img-fluid" />
                }
            </div>
            <br />
            <a class="btn btn-outline-primary" asp-controller="Posts" asp-action="Show" asp-route-id="@post.Id">
                Comments
            </a>
        </div>
    }
</div>
