@model ProiectASP.Models.Post


<style>

    .hover_link {
        text-decoration: none;
        color: black;
    }

        .hover_link:hover {
            text-decoration: underline;
        }
</style>

<div class="d-flex flex-column align-items-center" >
    <div>
        <div class="d-flex flex-row gap-2">
            <a asp-controller="Profiles" asp-action="Show" asp-route-id="@Model.User.Id">
                <img src="@ViewBag.Profile.ProfileImage" alt="profile image" class="rounded-circle"
                     style="width:50px; height:50px; " />
            </a>
            <div style="height: 50px; display: flex; align-items: center;"><b>@Model.User.UserName</b></div>
            <div style="margin-left:auto;">
                @if (@Model.UserId == ViewBag.UserId || ViewBag.EsteAdmin == true)
                {

                    <div class="dropdown ">
                        <button class="btn rounded-circle dropdown" type="button" id="dropdownPostButton" 
                                data-bs-toggle="dropdown" aria-expanded="false" >
                            
                             <b>...</b>
                        </button>


                        <ul class="dropdown-menu  flex-column gap-1 p-1" style="min-width: max-content;"  
                                        aria-labelledby="dropdownPostButton">
                            <li>
                                <a class="btn " asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                            </li>
                            <li>

                                <form method="post" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">

                                    <button class="btn btn-outline-danger" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                        </svg>Delete
                                    </button>

                                </form>
                            </li>
                        </ul>
                    </div>
                
                
                }

            </div>
        </div>
        <br />

        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <p class="card-text">@Model.Content</p>
            </div>
            @if (Model.Image != null)
            {
                string extension = (Model.Image).Split(".")[1].ToLower();


                @if (new[] { "jpg", "jpeg", "png", "gif" }.Contains(extension))
                {
                    <img style="max-width: 50vw;" src="@Model.Image" alt="post image" />
                }
                else if (extension == "mp4")
                {
                    <video controls style="max-width: 50vw;">
                        <source src="@Model.Image" type="video/mp4" />
                    </video>
                }
                else if (extension == "mp3")
                {
                    <audio controls style="max-width: 50vw;">
                        <source src="@Model.Image" type="audio/mp3">
                    </audio>
                }
                else
                {
                    <video controls style="max-width: 50vw;">
                        <source src="@Model.Image" />
                    </video>
                }
            }
        </div>
        <div class="card p-1" style="width:30rem">
            <div class="d-flex flex-row">
                <p>@Model.Date</p>
                @if (ViewBag.liked == false)
                {
                    <div style="margin-left:auto;"  >
                        <form method="post" asp-controller="Likes" asp-action="New">
                            <input type="hidden" name="PostId" value="@Model.Id" />
                            <button class="btn btn-outline-danger rounded-circle" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                </svg>
                            </button>
                        </form>
                    </div>
                    <a class="ms-2  hover_link" asp-controller="Likes" asp-action="Show"
                       asp-route-id="@Model.Id">@ViewBag.nrLikes likes</a>
                }
                else
                {

                    <div style="margin-left:auto;" class="d-flex align-items-center">
                        <form method="post" asp-controller="Likes" asp-action="Delete">
                            <input type="hidden" name="userId" value="@ViewBag.UserId" />
                            <input type="hidden" name="postId" value="@Model.Id" />
                            <button class="btn btn-outline-danger rounded-circle" style="margin-left:auto;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                                </svg>
                            </button>
                          </form>
                    </div>
                    <a class="ms-2 hover_link" asp-controller="Likes" asp-action="Show"
                       asp-route-id="@Model.Id">@ViewBag.nrLikes likes</a>
                }
            </div>
        </div>


        <br />
            <form method="post" asp-controller="Posts" asp-action="Show" class="card d-flex flex-row gap-2 p-2" >

                <div class="card-body" style="border:none">

                    <input type="hidden" name="PostId" value="@Model.Id" />

                    <textarea class="form-control" name="Content" placeholder="Post a comment" 
                        style="height:auto; overflow-y:hidden; resize:vertical" ></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>


                </div>
                <div style="display:flex;align-items:center;">
                    <button class="btn btn-success" type="submit">Post</button>
                </div>
            </form>


        <div>
            @foreach (var comm in @Model.Comments)
            {
                <div class="card d-flex flex-row gap-2 p-2">
                    <a asp-controller="Profiles" asp-action="Show" asp-route-id="@comm.User.Id">
                        <img src="@comm.User.Profile.ProfileImage" alt="profile image" class="rounded-circle"
                             style="width:50px; height:50px; " />
                    </a>
                  
                    <div>
                        <div class="d-flex flex-row ">
                            <div ><b>@comm.User.UserName</b></div>
                            <div style="margin-left:auto;">
                                @if (comm.UserId == ViewBag.UserId || ViewBag.EsteAdmin == true)
                                {
                                    <div class="dropdown ">
                                        <button class="btn rounded-circle dropdown" type="button" id="dropdownPostButton"
                                        data-bs-toggle="dropdown" aria-expanded="false">

                                            <b>...</b>
                                        </button>


                                        <ul class="dropdown-menu  flex-column gap-1 p-1" style="min-width: max-content;"
                                        aria-labelledby="dropdownPostButton">
                                            <li>
                                                <a class="btn " asp-controller="Comments" asp-action="Edit" asp-route-id="@comm.Id">Edit comment</a>
                                            </li>
                                            <li>

                                                <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">

                                                    <button class="btn btn-outline-danger" type="submit">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                        </svg>Delete
                                                    </button>
                                            

                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                }   
                            </div>
                        </div>
                        <div style="width:28rem;">@comm.Content</div>
                    </div>
                </div>
            }
        </div>
    </div>


</div>