@model ProiectASP.Models.UserGroup


@if (ViewBag.Message != null)
{
    <div class="alert-success p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<h2>Other groups</h2>
<br />
<a class="btn btn-success" asp-controller="Groups" asp-action="Show" asp-route-id="@ViewBag.GroupID">Back</a>

<br />
<br />

@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>


@if (ViewBag.Count == 0)
{
    <div>
        You haven't made any groups
    </div>
}

@foreach (var u in ViewBag.users)
{
    <div class="card">


        <div class="card-body">

            <h3 class="card-title alert-success py-3 px-3 rounded-2">@u.User.UserName</h3>

            @if (ViewBag.Moderator == true && ViewBag.ModeratorId !=u.User.Id)
            {
                <form method="post" asp-action="Remove" asp-controller="Groups">

                    <input type="hidden" name="UserId" value="@u.User.Id" />

                    <input type="hidden" name="GroupId" value="@ViewBag.GroupId" />

                    <button class="btn btn-success" type="submit">Remove</button>
                </form>
            }


        </div>


        <br />

    </div>

    <br />
    <br />
}


@* Afisarea paginata a articolelor *@

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>