


<style>


    .colorChange
    {
        transition:all 0.5s ease-in-out

    }

    .colorChange:hover
    {
        background-color: #dbdad7;
    }

    .colorChange:hover .hiddenDiv
    {
        display:block;
    }

    .hiddenDiv
    {
        display:none;
        max-height: 6em;
        overflow: hidden;
    }

</style>


<h2>Your pending requests</h2>

<a type="button" asp-controller="Groups" class="btn btn-outline-primary" asp-action="All"> Back </a>



<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

<div class="container">

    <div class="row ">
        @foreach (var g in ViewBag.Groups)
        {
            <div class="col-md-4 mb-2">
                <div class="card p-4 colorChange ">
                    <div class="d-flex flex-row gap-2">
                        <img src="@g.Group.Image" alt="Group Image" style="width: 50px; height: 50px; object-fit: cover" class="rounded-circle" />

                        <div style="height: 50px; display: flex; align-items: center;"><b>@g.Group.Name</b></div>

                    </div>
                    <div class="hiddenDiv">
                        <br />
                        @g.Group.Description
                    </div>
                    <br />
                    <a type="button" class="btn btn-outline-primary" asp-controller="Groups"
                       asp-action="Show" asp-route-id="@g.Group.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
                        </svg>Show group
                    </a>

                </div>
            </div>
        }
    </div>

</div>




<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>