@model ProiectASP.Models.Group


<a class="btn btn-success" asp-controller="Groups" asp-action="Index" >Back</a>

<div class="card">


    <div class="card-body">


        <img src="@Model.Image" alt="Group Image" style="width: 50px; height: 50px; object-fit: cover" />

        <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Name</h3>

        <div class="card-text">@Model.Description</div>
    </div>

</div>

<a class="btn btn-success" asp-controller="Groups" asp-action="Members" asp-route-id="@Model.Id">Group Members</a>

@if(ViewBag.Moderator == true)
{
    <a class="btn btn-success" asp-controller="Groups" asp-action="DeleteShow" asp-route-id="@Model.Id">Delete Group</a>

    <a class="btn btn-success" asp-controller="Groups" asp-action="EditShow" asp-route-id="@Model.Id">Edit Group</a>

}


<a class="btn btn-success" asp-controller="Groups" asp-action="AddPost" asp-route-id="@Model.Id">Add Post</a>

<div class="card">
    Posts:
</div>

@foreach(var p in ViewBag.Posts)
{
    <div class="card">

        <div class="card-body">

            <h3 class="card-title alert-success py-3 px-3 rounded-2">@p.Content</h3>

        </div>

        @if (@p.Image != null)
        {
            <div>
                <img src="@p.Image" alt="Post Image" style="width: 50px; height: 50px; object-fit: cover" />

            </div>




        }


    </div>
}
