@if (ViewBag.Message != null)
{
    <div class="alert-success p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<h2>Your groups</h2>
<br />
<a class="btn btn-success" asp-controller="Groups" asp-action="Index" >Back</a>

<a class="btn btn-success" asp-controller="Groups"
   asp-action="New">Create group</a>

<br />
<br />

@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>


@if (ViewBag.Count == 0)
{
    <div>
        You haven't made any groups
    </div>
}

@foreach (var g in ViewBag.Groups)
{
    <div class="card">


        <div class="card-body">

            <h3 class="card-title alert-success py-3 px-3 rounded-2">@g.Name</h3>

            <div class="card-text">@g.Description</div>

            <img src="@g.Image" alt="Group Image" style="width: 50px; height: 50px; object-fit: cover" />
        </div>

        <div class="d-flex flex-row justify-content-between">

            <a class="btn btn-success" asp-controller="Groups" asp-action="Edit" asp-route-id="@g.Id"> Edit Group</a>


            <a class="btn btn-success" asp-controller="Groups" asp-action="Delete" asp-route-id="@g.Id">Delete group</a>

            <a class="btn btn-success" asp-controller="Groups" asp-action="JoinRequests" asp-route-id="@g.Id">Join Requests</a>


        </div>
        <br />

    </div>

    <br />
    <br />
}


@* Afisarea paginata a articolelor *@

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>